<!-- sports section start -->
<section class="sports-section">
    <div class="d-flex align-items-center justify-content-between px-4">
        <div
            class="d-flex align-items-center justify-content-center gap-3 text-white sports-container">
            <img src="./assets/images/sports.png" alt="Sports">
            Sports
        </div>
        <div class="d-flex align-items-center justify-content-center gap-2 see-all-container">
            See All
            <img src="./assets/images/right-arrow.png" alt="">
        </div>
    </div>
    <div class="owl-carousel sports-carousel owl-theme text-white mt-4">
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/virat.png" alt="cricket" style="width: 120px !important;">
                cricket
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/ronaldo.png" alt="" style="width: 120px !important;">
                football
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/djocovic.png" alt="" style="width: 120px !important;">
                tennis
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/vollyball.png" alt="">
                basketball
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/horse.png" alt="">
                horse racing
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/dog.png" alt="">
                grayhound
            </a>

        </div>
    </div>
</section>
<!-- sports section end -->

