 <div class="desktop">
        <!-- sidebar start -->
        <div class="container-fluid overflow-hidden">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-12 col-xl-12">
                    <app-header></app-header>
                    <app-home-banner></app-home-banner>
                    <app-sport></app-sport>
                    <app-inplay></app-inplay>
                    <app-casino></app-casino>
                    <app-indian-casino></app-indian-casino>

                

                    <section class="py-5 px-4">
                        <img width="100%" src="./assets/images/bottom-banner.png" alt="Bottom Banner">
                    </section>

                    <app-popular-games></app-popular-games>
                    <app-promotion></app-promotion>
                    <app-tutorial></app-tutorial>
                    <app-footer></app-footer>

                </div>
            </div>
        </div>
        <!-- sidebar end -->
 </div> <!-- desktop end -->
