<!-- promotion section start -->
<section class="sports-section pt-5">
    <div class="d-flex align-items-center justify-content-between px-4">
        <div
            class="d-flex align-items-center justify-content-center gap-3 text-white sports-container">
            <img src="./assets/images/promo-icon-desktop.png" alt="Live Casino">
            Promotions
        </div>
    </div>
    <div class="py-5 px-4">
        <img width="100%" src="./assets/images/promotion-banner.png" alt="Promotion Banner">
    </div>
</section>
<!-- promotion section end -->