 <!-- indian casino section start -->
 <section class="sports-section my-5 pt-4">
    <div class="d-flex align-items-center justify-content-between px-4">
        <div class="d-flex align-items-center justify-content-center text-white sports-container">
            <img src="./assets/images/indian-casino.png" alt="Live Casino">
            Indian Casino
        </div>
        <div class="d-flex align-items-center justify-content-center gap-2 see-all-container">
            See All
            <img src="./assets/images/right-arrow.png" alt="">
        </div>
    </div>
    <div class="owl-carousel sports-carousel owl-theme text-white mt-4">
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/romeo.png" alt=""
                    style="width: 130px !important; height: 130px;">
                Romeo Akbar Walter
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/baccart.png" alt=""
                    style="width: 130px !important; height: 130px;">
                Baccarat
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/roulatte2.png" alt=""
                    style="width: 130px !important; height: 130px;">
                Roulette
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/teen-patti2.png" alt=""
                    style="width: 130px !important; height: 130px;">
                Teen Patti
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/worli-matka.png" alt=""
                    style="width: 130px !important; height: 130px;">
                Worli Matka
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/lucky-7.png" alt=""
                    style="width: 130px !important; height: 130px;">
                Lucky 7
            </a>

        </div>
    </div>
</section>
<!-- indian casino section end -->