 <div class="mobile w-100">
        <!-- navbar strat -->
        <div class="navbar w-100">
            <div class="main-navbar d-flex align-items-center justify-content-between px-2 w-100">
                <a href="./index.html"><img src="./assets/images/mobile-logo.png" alt="Logo"></a>

                <div class="d-flex align-items-center justify-content-center gap-3 ms-3">
                    <!-- <button class="d-flex flex-column align-items-center justify-content-center main-nav-btn">
                        Liability
                        <span>₹50.00</span>
                    </button> -->

                    <button class="d-flex flex-column align-items-center justify-content-center main-nav-btn">
                        <div class="d-flex align-items-center justify-content-center gap-2">Balance <img
                                src="./assets/images/arrow.png" alt="Down Arrow"></div>
                        <span>₹100.00</span>
                    </button>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <a href="#"><img class="mx-2" src="./assets/images/bell-icon.png" alt="Bell Icon"></a>

                    <a href="#"><img src="./assets/images/profile-logo.png" alt="Profile Logo"></a>
                </div>
            </div>
        </div>
        <!-- navbar end -->

        <!-- carousel start -->
        <div class="owl-carousel top-nav-carousel owl-theme text-white nav-carousel overflow-hidden mt-4 w-100">
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/menu-arrow.svg" alt="">
                        Kheloyar Exch</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/inplay.png" alt="">
                        In Play</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/all casino.png" alt="">
                        all casino</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/mobile-aviator.png" alt="">aviator</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/live casino.png" alt="">live casino</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/teen patti.png" alt="">teen patti</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/slot games.png" alt="">slot games</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/table games.png" alt="">table games</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/shooting games.png" alt="">shooting
                        games</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="37" height="30" src="./assets/images/virtual sports.png" alt="">virtual
                        games</a>
                </div>
            </div>
            <div class="item mx-2">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-1"><img
                            width="40" height="30" src="./assets/images/indian casino.png" alt=""
                            style="width: 40px !important;">indian casino</a>
                </div>
            </div>
        </div>
        <!-- carousel end -->

        <div class="mobile-section-bg">
            <!-- main banner start -->
            <section class="px-3 mt-4 main-banner-section-mobile">
                <div class="w-100 text-center mt-4">
                    <img class="main-banner w-100" src="./assets/images/main-banner.png" alt="Main Banner">
                </div>
            </section>
            <!-- main banner end -->

            <!-- sports section start -->
            <section class="sports-section mt-4">
                <div class="d-flex align-items-center justify-content-between px-3">
                    <div class="d-flex align-items-center justify-content-center gap-2 text-white sports-container">
                        <img width="24" src="./assets/images/sports.png" alt="Sports">
                        Sports
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2 see-all-container">
                        See All
                        <img width="12" src="./assets/images/right-arrow.png" alt="">
                    </div>
                </div>
                <div class="owl-carousel sports-carousel owl-theme text-white mt-4">
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/virat.png" alt=""
                                style="width: 110px !important; height: 124px !important;">
                            cricket
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/ronaldo.png" alt=""
                                style="width: 110px !important; height: 124px !important;">
                            football
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/djocovic.png" alt=""
                                style="width: 110px !important; height: 124px !important;">
                            tennis
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/vollyball.png" alt="">
                            basketball
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/horse.png" alt="">
                            horse racing
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/dog.png" alt="">
                            grayhound
                        </a>

                    </div>
                </div>
            </section>
            <!-- sports section end -->

            <!-- in play section start -->
            <section class="mt-4 inplay-section">
                <div class="d-flex align-items-center justify-content-between px-3">
                    <div class="d-flex align-items-center justify-content-center gap-2 text-white sports-container">
                        <img width="24" src="./assets/images/inplay icon.png" alt="Sports">
                        In Play
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="d-flex  align-items-center justify-content-center gap-1 fw-bold"
                        style="margin-right: -10px; padding-right: 10px;"><img src="./assets/images/football.png"
                            alt="">Football</button>
                    <button class="d-flex  align-items-center justify-content-center gap-1 fw-bold active"><img
                            src="./assets/images/cric ball.png" alt="">Cricket</button>
                    <button class="d-flex  align-items-center justify-content-center gap-1 fw-bold"
                        style="margin-left: -10px; padding-left: 10px;"><img src="./assets/images/horse-racing.png"
                            alt="">Horse Racing</button>
                </div>

                <div class="team-name d-flex align-items-center justify-content-between flex-wrap px-3  mt-4">
                    <a href="#" class="d-flex align-items-center gap-2 text-decoration-none">
                        <p class="m-0">Royal Challengers Banglore</p>
                        <span>vs</span>
                        <p class="m-0">Kolkata Knight Rider</p>
                    </a>
                    <div
                        class="owl-carousel inplay-carousel-mobile owl-theme team-bids d-flex align-items-center justify-content-center gap-1 mt-2">
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-blue">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-pink">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-light-blue">
                            <p class="m-0">-</p>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-light-pink">
                            <p class="m-0">-</p>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-blue">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-pink">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                    </div>
                </div>

                <div class="team-name d-flex align-items-center justify-content-between flex-wrap px-3 gap-1 mt-3">
                    <a href="#" class="text-decoration-none d-flex align-items-center gap-2">
                        <p class="m-0">Punjab Kings</p>
                        <span>vs</span>
                        <p class="m-0">Lucknow Super Giants</p>
                    </a>
                    <div
                        class="owl-carousel inplay-carousel-mobile owl-theme team-bids d-flex align-items-center justify-content-center gap-1">
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-blue">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-pink">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-light-blue">
                            <p class="m-0">-</p>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-light-pink">
                            <p class="m-0">-</p>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-blue">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-pink">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                    </div>
                </div>

                <div class="team-name d-flex align-items-center justify-content-between flex-wrap px-3 gap-1 mt-3">
                    <a href="#" class="text-decoration-none d-flex align-items-center gap-2">
                        <p class="m-0">Punjab Kings</p>
                        <span>vs</span>
                        <p class="m-0">Lucknow Super Giants</p>
                    </a>
                    <div
                        class="owl-carousel inplay-carousel-mobile owl-theme team-bids d-flex align-items-center justify-content-center gap-1">
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-blue">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-pink">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-light-blue">
                            <p class="m-0">-</p>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-light-pink">
                            <p class="m-0">-</p>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-blue">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                        <a href="#"
                            class="item text-decoration-none d-flex align-items-center justify-content-center flex-column gap-1 bg-pink">
                            <p class="m-0">1.83</p>
                            <span>4.262</span>
                        </a>
                    </div>
                </div>
            </section>
            <!-- in play section end -->
        </div>

        <!-- live casino section start -->
        <section class="sports-section mt-5">
            <div class="d-flex align-items-center justify-content-between px-3">
                <div class="d-flex align-items-center justify-content-center gap-2 text-white sports-container">
                    <img width="24" src="./assets/images/live-casino-icon.png" alt="Live Casino">
                    Live Casino
                </div>
                <div class="d-flex align-items-center justify-content-center gap-2 see-all-container">
                    See All
                    <img width="12" src="./assets/images/right-arrow.png" alt="">
                </div>
            </div>
            <div class="owl-carousel sports-carousel live-casino-carousel owl-theme text-white mt-4">
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/casino.png" alt="">
                        casino
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/teen-patti.png" alt="">
                        teen patti
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/roulette.png" alt="">
                        roulette
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/poker.png" alt="">
                        poker
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/black-jack.png" alt="">
                        black jack
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/dragon-tiger.png" alt="">
                        dragon tiger
                    </a>

                </div>
            </div>
        </section>
        <!-- live casino section end -->

        <!-- indian casino section start -->
        <section class="sports-section mt-5">
            <div class="d-flex align-items-center justify-content-between px-3">
                <div class="d-flex align-items-center justify-content-center text-white sports-container">
                    <img width="44" src="./assets/images/indian-casino.png" alt="Live Casino">
                    Indian Casino
                </div>
                <div class="d-flex align-items-center justify-content-center gap-2 see-all-container">
                    See All
                    <img width="12" src="./assets/images/right-arrow.png" alt="">
                </div>
            </div>
            <div class="owl-carousel sports-carousel live-casino-carousel owl-theme text-white mt-4">
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/casino.png" alt="">
                        casino
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/teen-patti.png" alt="">
                        teen patti
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/roulette.png" alt="">
                        roulette
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/poker.png" alt="">
                        poker
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/black-jack.png" alt="">
                        black jack
                    </a>

                </div>
                <div class="item">

                    <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                        <img src="./assets/images/dragon-tiger.png" alt="">
                        dragon tiger
                    </a>

                </div>
            </div>
        </section>
        <!-- indian casino section end -->

        <section class="pt-4 px-2">
            <img width="100%" src="./assets/images/bottom-banner.png" alt="Bottom Banner">
        </section>

        <div class="mobile-section-bg">
            <!-- popular games section start -->
            <section class="sports-section pt-4">
                <div class="d-flex align-items-center justify-content-between px-3">
                    <div class="d-flex align-items-center justify-content-center gap-2 text-white sports-container">
                        <img width="24" src="./assets/images/popular-games.png" alt="Live Casino">
                        Popular Games
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2 see-all-container">
                        See All
                        <img src="./assets/images/right-arrow.png" alt="">
                    </div>
                </div>
                <div class="owl-carousel popular-carousel-mobile owl-theme text-white mt-4 px-3">
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/roulette3.png" alt="" style="width: 80px !important; height: 80px;">
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/crazy-time.png" alt="" style="width: 80px !important; height: 80px;">
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/big-baller.png" alt="" style="width: 80px !important; height: 80px;">
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/aviator2.png" alt="" style="width: 80px !important; height: 80px;">
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/heads-tails.png" alt="" style="width: 80px !important; height: 80px;">
                        </a>

                    </div>
                    <div class="item">

                        <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                            <img src="./assets/images/andar-bahar.png" alt="" style="width: 80px !important; height: 80px;">
                        </a>

                    </div>
                </div>
            </section>
            <!-- popular games section end -->
            <!-- premium exchanges section end -->
        </div>
        <!-- promotions section start -->
        <section class="sports-section premium-exch-section mt-4">
            <div class="d-flex align-items-center justify-content-between px-3">
                <div class="d-flex align-items-center justify-content-center gap-2 text-white sports-container">
                    <img width="24" src="./assets/images/promo-icon.png" alt="Live Casino">
                    Promotions
                </div>
            </div>
            <div class="pt-4 ps-2">
                <img width="100%" src="./assets/images/promotion-banner.png" alt="Promotion Banner">
            </div>
        </section>
        <!-- promotions section end -->

        <!-- tutorial section start -->
        <section class="tutorials-section mt-5">
            <h3 class="text-center text-white">tutorials</h3>

            <div class="d-flex align-items-center justify-content-between gap-3 px-2">
                <button class="d-flex align-items-center justify-content-center">Signup / Login</button>
                <button class="d-flex align-items-center justify-content-center">Automatic Deposit</button>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-3 mt-3 px-2">
                <button class="d-flex align-items-center justify-content-center">Manual Deposit</button>
                <button class="d-flex align-items-center justify-content-center">Withdrawal</button>
            </div>
        </section>
        <!-- tutorial section end -->

        <!-- footer logo section start -->
        <div class="ps-2 pt-4">
            <img width="100%" src="./assets/images/caution-logo.png" alt="Caution Banner">
        </div>

        <div class="px-2 pt-4">
            <img width="100%" src="./assets/images/footer-payment-logos.png" alt="Footer Payment Banner">
        </div>

        <div class="footer-text-container mt-4 px-3">
            <p>Kheloyar.net is a product of Kheloyar Group which
                operates in accordance with the License granted by
                SVG Gambling Commission under the license</p>

            <p>© 2022 Kheloyar. All rights reserved.</p>
        </div>

        <div class="d-flex align-items-start justify-content-between px-3 mt-5 footer-links">
            <div>
                <div><a href="#">Terms & Conditions</a></div>
                <div><a href="#">Cookie Policy</a></div>
                <div><a href="#">Promotion & Bonus</a></div>
                <div><a href="#">FAQs</a></div>
            </div>
            <div>
                <div><a href="#">Responsible Gambling</a></div>
                <div><a href="#">Contact Us</a></div>
                <div><a href="#">Payment Methods</a></div>
            </div>
        </div>
        <!-- footer logo section end -->

        <hr>

        <!-- footer start -->
        <div class="d-flex align-items-center justify-content-between px-3 mt-3">
            <a href="#"><img src="./assets/images/fb.png" alt="social platform"></a>
            <a href="#"><img src="./assets/images/insta.png" alt="social platform"></a>
            <a href="#"><img src="./assets/images/telegram.png" alt="social platform"></a>
            <a href="#"><img src="./assets/images/twitter.png" alt="social platform"></a>
            <a href="#"><img src="./assets/images/youtube.png" alt="social platform"></a>
            <a href="#"><img src="./assets/images/snapchat.png" alt="social platform"></a>
            <a href="#"><img src="./assets/images/footer-link-logo.png" alt="social platform"></a>
            <a href="#"><img src="./assets/images/footer-link-logo2.png" alt="social platform"></a>
        </div>

        <div class="d-flex align-items-center justify-content-between px-3 gap-3 mt-4 mb-5 pb-4">
            <a href="#"><img class="img-fluid" src="./assets/images/telegram-btn.png" alt="Telegram"></a>
            <a href="#"><img class="img-fluid" src="./assets/images/whatsapp-btn.png" alt="Whatsapp"></a>
        </div>
        <!-- footer end -->

        <!-- bottom footer start -->
        <section class="bottom-footer">
            <div class="d-flex align-items-center justify-content-between gap-1">
                <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                    <img width="24" src="./assets/images/home.png" alt="">
                    Home
                </a>
                <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                    <img width="24" src="./assets/images/footer-casino.png" alt="">
                    Casino
                </a>
                <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                    <img width="50px" src="./assets/images/whatsapp-logo.png" alt="">
                </a>
                <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                    <img width="24" src="./assets/images/live.png" alt="">
                    Live
                </a>
                <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                    <img width="24" src="./assets/images/live-casino.png" alt="">
                    Live Casino
                </a>
            </div>
        </section>
        <!-- bottom footer end -->
    </div>