<div class="main-navbar d-flex align-items-center justify-content-between px-3">
    <a href="/"
        class="d-flex align-items-center justify-content-center pb-3 mb-md-0 text-white text-decoration-none my-3">
        <img src="./assets/images/Logo.png" alt="Logo">
    </a>
    <div
        class="owl-carousel top-nav-carousel owl-theme text-white nav-carousel overflow-hidden mt-2">
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/menu-arrow.png" alt="">
                    Kheloyar Exch</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/inplay.png" alt="">
                    In Play</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/all casino.png" alt="">
                    all casino</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/aviator.png" alt="">aviator</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/live casino.png" alt="">live casino</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/teen patti.png" alt="">teen patti</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/slot games.png" alt="">slot games</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/table games.png" alt="">table games</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/shooting games.png" alt="">shooting
                    games</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="20" height="20" src="./assets/images/virtual sports.png" alt="">virtual
                    games</a>
            </div>
        </div>
        <div class="item mx-2">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="#"
                    class="d-flex align-items-center justify-content-center flex-column gap-2"><img
                        width="40" height="20" src="./assets/images/indian casino.png" alt=""
                        style="width: 60px !important;">indian casino</a>
            </div>
        </div>
    </div>

    <button class="d-flex flex-column align-items-center justify-content-center main-nav-btn">
        <div class="d-flex align-items-center justify-content-center gap-2">Balance <img
                src="./assets/images/arrow.png" alt="Down Arrow"></div>
        <span>₹100.00</span>
    </button>

    <a href="#"><img class="mx-4" src="./assets/images/bell-icon.png" alt="Bell Icon"></a>

    <a href="#"><img src="./assets/images/profile-logo.png" alt="Profile Logo"></a>

    <a href="#" class="nav-link px-0 text-white fw-bold d-flex align-items-center  gap-2 ms-2">
        <img width="24" height="24" src="./assets/images/logout.png" alt="Log Out"> 
    </a>
</div>
