                    <!-- footer section start -->
                    <section class="footer-section mt-5">
                        <div class="text-center"><img src="./assets/images/klr-logo.png" alt="logo"></div>

                        <div class="d-flex align-items-center justify-content-between flex-wrap px-4 gap-4 mt-5">
                            <img src="./assets/images/upi.png" alt="UPI">
                            <img src="./assets/images/paytm.png" alt="Paytm">
                            <img src="./assets/images/gpay.png" alt="G PAy">
                            <img src="./assets/images/phonepe.png" alt="Phone Pe">
                            <img src="./assets/images/bank.png" alt="Bank Transfer">
                            <img src="./assets/images/gamble.png" alt="Gamble">
                        </div>

                        <p class="mt-5 px-4">Kheloyar.net is a product of Kheloyar Group which operates in accordance
                            with the License granted by SVG Gambling Commission under the license</p>
                        <p class="pt-4">© 2022 Kheloyar. All rights reserved.</p>

                        <div class="mt-5 px-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap px-4">
                                <a class="w-25" href="#">Terms & Conditions</a>
                                <a class="w-25" href="#">Promotion & Bonus</a>
                                <a class="w-25" href="#">Responsible</a>
                                <a class="w-25" href="#">Contact Us</a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between flex-wrap px-4 mt-4">
                                <a class="w-25" href="#">Cookie Policy</a>
                                <a class="w-25" href="#">FAQs</a>
                                <a class="w-25" href="#">Gambling</a>
                                <a class="w-25" href="#">Payment Methods</a>
                            </div>
                        </div>

                        <hr class="hr my-5">

                        <div class="d-flex align-items-center justify-content-center flex-wrap gap-5 px-4">
                            <a href="#"><img width="67" height="67" src="./assets/images/fb-desktop.png"
                                    alt="Social Links"></a>
                            <a href="#"><img width="67" height="67" src="./assets/images/insta-desktop.png"
                                    alt="Social Links"></a>
                            <a href="#"><img width="67" height="67" src="./assets/images/telegram-desktop.png"
                                    alt="Social Links"></a>
                            <a href="#"><img width="67" height="67" src="./assets/images/twitter-desktop.png"
                                    alt="Social Links"></a>
                            <a href="#"><img width="67" height="67" src="./assets/images/youtube-desktop.png"
                                    alt="Social Links"></a>
                            <a href="#"><img width="67" height="67" src="./assets/images/snapchat-desktop.png"
                                    alt="Social Links"></a>
                            <a href="#"><img width="67" height="67" src="./assets/images/footer-logo-desktop.png"
                                    alt="Social Links"></a>
                            <a href="#"><img width="67" height="67" src="./assets/images/footer-logo-desktop2.png"
                                    alt="Social Links"></a>
                        </div>

                        <div class="d-flex align-items-center justify-content-center px-4 gap-5 mt-5 mb-3">
                            <a href="#"><img class="w-100" src="./assets/images/telegram-btn-desktop.png" alt="Telegram"></a>
                            <a href="#"><img class="w-100" src="./assets/images/whatsapp-btn-desktop.png" alt="WhatsApp"></a>
                        </div>
                    </section>
                    <!-- footer section end -->
