<!-- popular games section start -->
<section class="sports-section mb-5 pt-4">
    <div class="d-flex align-items-center justify-content-between px-4">
        <div class="d-flex align-items-center justify-content-center text-white sports-container">
            <img src="./assets/images/popular-games.png" alt="Live Casino">
            Popular Games
        </div>
        <div class="d-flex align-items-center justify-content-center gap-2 see-all-container">
            See All
            <img src="./assets/images/right-arrow.png" alt="">
        </div>
    </div>
    <div class="owl-carousel sports-carousel owl-theme text-white mt-4">
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/roulette3.png" alt=""
                    style="width: 130px !important; height: 130px;">
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/crazy-time.png" alt=""
                    style="width: 130px !important; height: 130px;">
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/big-baller.png" alt=""
                    style="width: 130px !important; height: 130px;">
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/aviator2.png" alt=""
                    style="width: 130px !important; height: 130px;">
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/heads-tails.png" alt=""
                    style="width: 130px !important; height: 130px;">
            </a>

        </div>
        <div class="item">

            <a href="#" class="d-flex align-items-center justify-content-center flex-column gap-2">
                <img src="./assets/images/andar-bahar.png" alt=""
                    style="width: 130px !important; height: 130px;">
            </a>

        </div>
    </div>
</section>
<!-- popular games section end -->